<div class="tygh-footer clearfix" id="tygh_footer">
    <div class="container-fluid  ty-footer-grid">
        <div class="row-fluid ">
            <div class="span16 ty-footer-grid__full-width ty-footer-menu">
                <div class="row-fluid ">
                    <div class="span5 ">
                        <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                             data-ca-live-editor-object-type=""><p></p></div>
                        <div class="ty-mainbox-container clearfix">

                            <h1 class="ty-mainbox-title">

                                TENTANG BOCA MARKETPLACE


                            </h1>


                            <div class="ty-mainbox-body">
                                <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                                     data-ca-live-editor-object-type=""><p><span
                                        style="font-size: 12pt;">BOCA Marketplace, D3-06-01, Center Court, Tamarind Square, Persiaran Multimedia, Cyber 10, 63000 Cyberjaya, Selangor, MALAYSIA.</span>
                                </p>
                                    <p><span
                                            style="font-size: 12pt;"><strong>Waktu Operasi:</strong></span>
                                    </p>
                                    <span style="font-size: 12pt;">Isnin - Jumaat, 10 AM - 5 PM</span>

                                    <p><span
                                            style="font-size: 12pt;"><strong>Waktu Rehat:</strong></span>
                                    </p>
                                    <span style="font-size: 12pt;"> Rehat Solat Jumaat, 12.30 PM - 2.30 PM</span>
                                    </p>
                                    <p></p>
                                    
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="ty-mainbox-container clearfix">

                            <h1 class="ty-mainbox-title">

                                BOCA eCOMMERCE STORE


                            </h1>


                            <div class="ty-mainbox-body">
                                <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                                     data-ca-live-editor-object-type=""><a
                                        href="https://www.lazada.com.my/baca-mall/?q=All-Products&langFlag=en&from=wangpu&lang=en&pageTypeId=2"
                                        target="_blank"><img
                                        src="https://mart-assets.s3.ap-southeast-1.amazonaws.com/logo+lazada.png"
                                        alt="" width="50" height="50"/></a> <a

                                        href="https://shopee.com.my/bocamart" target="_blank"><img
                                        src="https://mart-assets.s3.ap-southeast-1.amazonaws.com/shopee-my.png"
                                        alt="" width="50" height="50"/></a>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>


                    <div class="span6 ">
                        <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                             data-ca-live-editor-object-type=""><p></p></div>
                        <div class="ty-mainbox-container clearfix">

                            <h1 class="ty-mainbox-title">

                                JOIN GROUP TELEGRAM BOCA SEKARANG


                            </h1>


                            <div class="ty-mainbox-body">
                                <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                                     data-ca-live-editor-object-type="">
                                    <div style="text-align: center;"><span style="font-size: 12pt;"> Jadi yang pertama untuk menjadi mereka yang pertama mengetahui tentang diskaun-diskaun yang menarik dan buku yang terbaru di BOCA.  </span>
                                    </div>
                                    <div style="text-align: center;"><span style="font-size: 12pt;">Pasti tak menyesal. </span>
                                    </div>
                                    <div style="text-align: center;"><span style="font-size: 12pt;"></span>
                                    </div>
                                    <div style="text-align: center;"></div>
                                    <br>
                                    <br>
                                    <div style="text-align: center;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                             data-ca-live-editor-object-type="">
                            <div style="text-align: center;"><a href="https://t.me/tanyaceopkb"
                                                                target="_blank"><img
                                    src="https://mart-assets.s3.ap-southeast-1.amazonaws.com/logo+telegram.png"
                                    alt="" width="80" height="80"/></a></div>
                            <div style="text-align: center;"></div>
                        </div>
                        <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                             data-ca-live-editor-object-type="">
                            <style>
                                .email-octopus-form-row-hp {
                                    position: absolute;
                                    left: -5000px;
                                }

                                .email-octopus-form-row {
                                    padding-right: 18px;
                                }

                                .email-octopus-form-row input {
                                    width: 100%;
                                    padding: 8px;
                                    height: 12px;
                                    border: 1px solid #ccc;
                                }

                                .btn {
                                    background-color: #622d99;
                                }

                                .btn:hover,
                                .btn:focus {
                                    background-color: #622d99;
                                    opacity: 0.7;
                                }

                                .button1 {
                                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                    font-size: 16px;
                                }

                                .email-octopus-error-message {
                                    color: #e74c3c;
                                    text-align: center;
                                }

                                .email-octopus-success-message {
                                    color: green;
                                    text-align: center;
                                }

                                div.g-recaptcha > div.grecaptcha-badge {
                                    width: 0 !important;
                                }
                            </style>
                            <div style="border: 4px solid #622d99; padding: 0.5em; background-color:white; display: none;">
                                <h1
                                        style="text-align:center;"></h1>
                                <p class="email-octopus-success-message"></p>
                                <p class="email-octopus-error-message"></p>
                                <form method="post"
                                      action="https://emailoctopus.com/lists/5aa4f24a-e278-11e8-a3c9-06b79b628af2/members/embedded/1.3s/add"
                                      class="email-octopus-form"
                                      data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
                                >

                                    <div class="ty-control-group">
                                        <label for="field_1"><strong>Name</strong></label>
                                        <input id="field_1" name="field_1" type="text" placeholder=""
                                               class="ty-login__input">
                                    </div>

                                    <div class="ty-control-group email-octopus-form-row">
                                        <label for="field_0"><strong>Email address</strong></label>
                                        <input id="field_0" name="field_0" type="email" placeholder=""
                                               class="ty-login__input">
                                    </div>


                                    <div class="email-octopus-form-row-hp" aria-hidden="true">
                                        <!-- Do not remove this field, otherwise you risk bot sign-ups -->
                                        <input type="text" name="hp5aa4f24a-e278-11e8-a3c9-06b79b628af2"
                                               tabindex="-1"
                                               autocomplete="nope">
                                    </div>
                                    <div class="email-octopus-form-row-subscribe"
                                         style="text-align:center;padding-top:15px;margin-bottom:15px;">
                                        <input type="hidden"
                                               name="successRedirectUrl"
                                               value="">
                                        <button class="btn ty-btn button1" type="submit"
                                                id="subscribeButton">
                                            SUBSCRIBE NOW
                                        </button>
                                    </div>
                                    <input type="hidden" name="security_hash" class="cm-no-hide-input"
                                           value="c0f33b111e980816e68b52e63ec193d2"/></form>
                            </div>
                            <!-- Inline script moved to the bottom of the page -->
                            <!-- Inline script moved to the bottom of the page -->
                            <!-- Inline script moved to the bottom of the page -->
                            <p></p></div>
                    </div>


                    <div class="span5 ">
                        <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                             data-ca-live-editor-object-type=""><p></p></div>
                        <div class="ty-mainbox-container clearfix">

                            <h1 class="ty-mainbox-title">

                                MAKLUMAT LANJUT


                            </h1>


                            <div class="ty-mainbox-body">
                                
                                    <p><span
                                            style="font-size: 12pt;"><strong>Email:</strong><span> </span><a
                                            href="mailto:info@boca.my">info@boca.my</a></span>
                                    </p>
                                    <p><span style="font-size: 12pt;"><strong>Phone:</strong> <a
                                            href="tel:+60382308058"
                                            rel="nofollow">03-82308058</a></span>
                                    </p>
                                    <p><span style="font-size: 12pt;"><strong>Whatsapp:</strong> <a
                                            href="https://api.whatsapp.com/send?phone=60182036330"
                                            target="_blank">018-2036330</a></span></p>
                                    


                                <ul id="text_links_6267" class="ty-text-links">
                                    <li class="ty-text-links__item ty-level-0">
                                        <a class="ty-text-links__a">Menu Penting:</a>


                                        <ul class="ty-text-links">
                                            <li class="ty-text-links__item ty-level-1">
                                                <a class="ty-text-links__a"
                                                   href="{% url 'terkini' %}">#DUDUKRUMAHBACABUKU</a>
                                            </li>
                                            <li class="ty-text-links__item ty-level-1">
                                                <a class="ty-text-links__a"
                                                   href="https://kotabuku.onpay.my/affiliate/register">Jom
                                                    Jadi Ejen Affiliate
                                                </a>
                                            </li>
                                            <li class="ty-text-links__item ty-level-1">
                                                <a class="ty-text-links__a"
                                                   href="https://bookcapital.my/">BOCA eBook Store</a>
                                            </li>
                                            

                                            <li class="ty-text-links__item ty-level-1">
                                                <a class="ty-text-links__a"
                                                   href="https://wasap.my/60182036330">Masalah
                                                    Pesanan?</a>
                                            </li>
                                            


                                            <li class="ty-text-links__item ty-level-1">
                                                <a class="ty-text-links__a"
                                                   href="{% url 'terma' %}">Terma
                                                    &amp; Syarat</a>
                                            </li>

                                        </ul>


                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid ">
            <div class="span16 ty-footer-grid__full-width footer-stay-connected">
                <div class="row-fluid ">
                    <div class="span16 ">
                        <div class=" ty-float-right">
                            <div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0"
                                 data-ca-live-editor-object-type="">
                                <div class="ty-social-link-block"><h3 class="ty-social-link__title">Get
                                    social</h3>

                                    <div class="ty-social-link facebook">
                                        <a href="https://www.facebook.com/KotaBukuKL"><i
                                                class="ty-icon-facebook"></i> Facebook</a>
                                    </div>


                                    <div class="ty-social-link twitter">
                                        <a href="https://twitter.com/kotabukukl?lang=en"><i
                                                class="ty-icon-twitter"></i> Twitter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
